
<nav class="navbar navbar-default navbar-fixed-top">
    <span class="glyphicon glyphicon-cutlery navbar-brand navbar-left" aria-hidden="true"></span>
    <a class="navbar-brand navbar-left" href="#/user/{{model.userId}}/search">MunchTime</a>

    <a ng-hide="{{model.currentUser != null}}" class="nav navbar-brand pull-right"
        href="#/register">Register</a>
    <a ng-hide="{{model.currentUser != null}}" href="#/login" class="nav navbar-brand pull-right">Login</a>

    <a  ng-show="{{model.currentUser}}" ng-click="model.logout()" class="navbar-brand glyphicon glyphicon-off pull-right "></a>
    <a ng-show="{{model.currentUser}}" class="navbar-brand pull-right" href="#/user/{{model.userId}}" >
        Hi, {{model.currentUser.username}}</a>


   </nav>

<div class="row margin-class container-fluid">
    <div class="alert alert-success" ng-show="model.message" role="alert">
        {{model.message}}
    </div>
    <div class="col-xs-12 col-md-4"><img ng-src="{{model.recipe.image}}"></div>
    <div class="col-xs-6 col-md-8">
        <div>
                {{model.recipe.label}}
            <a class="glyphicon glyphicon-star-empty" ng-click="model.addToFav(model.recipe)"></a>
        </div>


        <div ng-repeat="ingredient in model.recipe.ingredientLines">
            <ul class="list-group">
                <li class="list-group-item">{{ingredient}}</li>
            </ul>
        </div>
        <div>
            <a class="btn btn-primary btn-block" ng-click="model.writeReview(model.recipe)">
                Write a review
            </a>
        </div>
    </div>
</div>


<ul class="list-group margin-class">

    <div ng-show="!model.reviewList.length">
        No reviews available
    </div>
    <div ng-show="model.reviewList.length">
        <div class="row">
            <div class="col-xs-11 col-sm-6">
                Recent Reviews
            </div>
        </div>
<li ng-repeat="list in model.reviewList" class="list-group-item">
    <div class="row">

        <div class="col-xs-11 col-sm-6">
                {{list.description}}
        </div>
    </div>
</li>
    </div>
</ul>

