
<nav class="navbar navbar-default navbar-fixed-top">

<span class="glyphicon glyphicon-cutlery navbar-brand navbar-left" aria-hidden="true"></span>
    <a class="navbar-brand">MunchTime</a>
               <a ng-hide="{{model.currentUser != null}}" class="navbar-brand pull-right"
                href="#/register">Register</a>
            <a ng-hide="{{model.currentUser != null}}" class="navbar-brand pull-right"
               href="#/login">Login</a>

    <a  ng-show="{{model.currentUser}}" ng-click="model.logout()" class="navbar-brand glyphicon glyphicon-off pull-right "></a>
    <a ng-show="{{model.currentUser}}" class="navbar-brand pull-right"
                   href="#/user/{{model.userId}}">Hi, {{model.currentUser.username}}</a>

</nav>

<div class="container-fluid margin-class">
    <input ng-model="recipe" class="form-control" placeholder="type in some ingredients..."/>
    <a class="btn btn-warning btn-block" ng-click="model.searchRecipe(recipe)"> Search for Recipes </a>

</div>

<div class="row margin-class">
    <div ng-repeat="result in model.results.hits">
    <div class="col-sm-6 col-md-4">

       <a ng-click="model.viewRecipe(result.recipe.uri)">
           <div class="thumbnail">


            <img ng-src="{{result.recipe.image}}" alt="No Recipe Image Available">
            <div class="caption">
                <h5 align="center">{{result.recipe.label}}</h5>

            </div>

    </div>
       </a>
    </div>

</div>
</div>

<div>
    {{model.recipe.ingredientLines}}
</div>