<div class="container-fluid">
<h1>YOUTUBE Editor</h1>


<label>Name</label>
<input ng-model="model.widget.name" class="form-control"/>

<label>URL</label>
<input ng-model="model.widget.url" class="form-control"/>

<label>Width</label>
<input ng-model="model.widget.width" class="form-control"/>


    <a ng-click="model.updateWidget(model.widget)" class="btn btn-primary btn-block">
        Update
    </a>
    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">
        Delete
    </a>
</div>