<nav class="navbar navbar-inverse navbar-fixed-top">
    <a ng-click="model.logout()" class="navbar-brand navbar-right">Logout</a>
    <a class="navbar-brand navbar-right" href="#/user/{{model.userId}}" >
        Hi, {{model.adminUser.username}}</a>
</nav>

<div ng-repeat="review in model.pendingReviews">
    <div>
        <span>
{{review.description}}
            </span>
        <span>{{review.username}}</span>

        <img ng-src="{{review.recipeImg}}"/>
        <span>{{review.recipeName}}</span>
        <a ng-click="model.approveReview(review)" class="btn btn-primary">Approve review and turn user to a critic</a>
        <a ng-click="model.declineReview(review)" class="btn btn-primary">Decline review</a>
    </div>

</div>