<nav class="navbar navbar-inverse navbar-fixed-top">
    <a ng-click="model.logout()" class="navbar-brand navbar-right">Logout</a>
    <a class="navbar-brand navbar-right" >
    Hi, {{model.adminUser.username}}</a>
</nav>

<div ng-show="model.error" class="alert alert-danger thumbnail-style" role="alert">
    {{model.error}}
</div>
<div class="alert alert-primary thumbnail-style" ng-show="model.message">
    {{model.message}}
</div>
<ul class="list-group">
<li ng-repeat="review in model.pendingReviews" class="list-group-item">
    <div class="row thumbnail-style">

    <div class="col-xs-12 col-md-4">
        <img ng-src="{{review.recipeImg}}"/></div>

        <div class="col-sm-8">
        <label>Review Content : </label>

{{review.description}}</div>
        <div class="col-sm-8">
        <label>Reviewed By : </label>
        {{review.username}}
        </div>

        <div class="col-sm-8">
        <label>Recipe Name:</label>
        {{review.recipeName}}
        </div>
        <div>
        <a ng-click="model.approveReview(review)" class="btn btn-primary">Approve review and turn user to a critic</a>
        <a ng-click="model.declineReview(review)" class="btn btn-danger">Decline review</a>
        </div>

</div>
</li>
</ul>