<nav class="navbar navbar-inverse navbar-fixed-top">

                <a href="#/register" class="navbar-brand pull-right">
                    Register
                </a>

                <a href="#/login" class="navbar-brand pull-right">
                    Login
                </a>

                <a class="navbar-brand" href="#/home">Munchkins</a>
</nav>

<div class="container-fluid">
    <h1>Login</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <div ng-show="model.message" class="alert alert-danger" role="alert">
        {{model.message}}
    </div>
    <form name="loginform" class="form-group" novalidate>

    <label for="username">Username</label>
    <input ng-model="user.username"
           id="username"
           name="username"
           class="form-control"
           placeholder="john123" required/>
        <p ng-show="loginform.username.$error.required && !loginform.$pristine" class="error-text">Username is required</p>


        <label for="password">Password</label>
    <input ng-model="user.password"
           id="password"
           name="password"
           class="form-control"
           type="password"
           placeholder="req4321" required/>
        <p ng-show="loginform.password.$error.required && !loginform.$pristine" class="error-text">Password is required</p>


        <a href="/auth/facebook" class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>
            Facebook
        </a>


    <a ng-click="model.login(user)" class="btn btn-success btn-block form-control">Login</a>
        <a href="#/register" class="pull-right"><large>Not a member?</large></a>
    </form>
</div>