<nav class="navbar navbar-inverse navbar-fixed-top">

                <a href="#/register" class="navbar-brand pull-right">
                    Register
                </a>

                <a href="#/login" class="navbar-brand pull-right">
                    Login
                </a>

                <a class="navbar-brand" href="#/home">Munchkins</a>
</nav>

<div class="container-fluid">
    <h1>Login</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <label for="username">Username</label>
    <input ng-model="user.username"
           id="username"
           class="form-control"
           placeholder="john123"/>

    <label for="password">Password</label>
    <input ng-model="user.password"
           id="password"
           class="form-control"
           type="password"
           placeholder="req4321"/>


        <a href="/auth/facebook" class="btn btn-primary btn-block">
            <span class="fa fa-facebook"></span>
            Facebook
        </a>


    <a ng-click="model.login(user)" class="btn btn-primary btn-block">Login</a>
    <a href="#/register" class="btn btn-success btn-block">Register</a>
</div>