<nav class="navbar navbar-inverse navbar-fixed-top">
       <a class="navbar-brand" href="#/user/{{model.currentUser._id}}/search">Munchkins</a>

        <a ng-hide="{{model.currentUser != null}}" href="#/register" class="navbar-brand navbar-right">Register</a>
        <a ng-hide="{{model.currentUser != null}}" href="#/login" class="navbar-brand navbar-right">Login</a>

        <a ng-show="{{model.currentUser}}"  ng-click="model.logout()" class="navbar-brand navbar-right">Logout</a>
        <a ng-show="{{model.currentUser}}" class="navbar-brand navbar-right" href="#/user/{{model.currentUser._id}}" >
                Hi, {{model.currentUser.username}}</a>

  </nav>

<div class="container-fluid">

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a ng-click="model.setActiveTab('updateProfile')" ng-hide="{{model.otherProfile}}">
                            Update Profile</a>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a ng-click="model.setActiveTab('showReviews')">
                            Reviews</a>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a ng-click="model.setActiveTab('showLikes')">
                            Likes</a>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a ng-click="model.setActiveTab('showSearchUsers')">
                            Search For users to follow</a>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a ng-click="model.setActiveTab('showFollowing')">
                            Following</a>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a ng-click="model.setActiveTab('showFollowers')">
                            Followers</a>
                    </div>

                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-8" ng-show="model.showUpdatePage">

    <label for="username">Username</label>
    <input ng-model="model.user.username"
           id="username"
           type="text"
           placeholder="Username"
           class="form-control"/>

    <label for="email">Email</label>
    <input ng-model="model.user.email"
           id="email"
           type="email"
           placeholder="Email Id"
           class="form-control"/>

    <label for="firstName">First Name</label>
    <input ng-model="model.user.firstName"
           id="firstName"
           type="text"
           placeholder="First Name"
           class="form-control"/>

    <label for="lastName">Last Name</label>
    <input ng-model="model.user.lastName"
           id="lastName"
           type="text"
           placeholder="Last Name"
           class="form-control"/>

    <a ng-click="model.updateUsr(model.user)" class="btn btn-block btn-success">Update</a>
    <a ng-click="model.deleteUser()" class="btn btn-block btn-primary">Delete</a>
    <a ng-click="model.logout()" class="btn btn-danger btn-block">Logout</a>


    </div>
    <div class="col-sm-8" ng-show="model.showReviews">
        <div ng-repeat="r in model.listOfReviewsForUser">
            <ul class="list-group thumbnail-style">

                    <img ng-src="{{r.recipeImg}}">
                <li class="list-group-item">

<label>Recipe Name: </label>
                {{r.recipeName}}
                </li>
                <li class="list-group-item">
                   <label>Review Content: </label> {{r.description}}
                </li>

            </ul>
        </div>
    </div>



    <div class="col-sm-8" ng-show="model.showFollowing">
        <div ng-repeat="lifg in model.listOfFollowing">

               <a href="#/user/other/{{lifg._id}}">{{lifg.username}}</a>
            <a ng-click="model.unfollowUser(lifg)" class="btn btn-block btn-danger">Unfollow</a>

        </div>
    </div>

    <div class="col-sm-8" ng-show="model.showFollowers">
         <div ng-repeat="lif in model.listOfFollowers">
             <a href="#/user/other/{{lif._id}}">
                    {{lif.username}}</a>

        </div>
    </div>


    <div class="col-sm-8" ng-show="model.showSearchUsers">
    <input ng-model="model.search.user" id="searchUser" type="text" placeholder="searchUser" class="form-control"/>
    <a ng-click="model.searchUser(model.search.user)" class="btn btn-block btn-primary"> search user</a>

    <div ng-repeat="userResult in model.userSearchResults">
        <ul>
            <li>
                {{userResult.username}}
                <a ng-click="model.followUser(userResult._id)" class="btn btn-block">Follow</a>
            </li>
        </ul>
    </div>
</div>
</div>




