<nav class="navbar navbar-default navbar-fixed-top">
    <span class="glyphicon glyphicon-cutlery navbar-brand navbar-left" aria-hidden="true"></span>
    <a class="navbar-brand navbar-left" href="#/user/{{model.currentUser._id}}/search">MunchTime</a>



    <a ng-hide="{{model.currentUser != null}}" href="#/register" class="navbar-brand pull-right">Register</a>
    <a ng-hide="{{model.currentUser != null}}" href="#/login" class="navbar-brand pull-right">Login</a>

    <a  ng-show="{{model.currentUser}}" ng-click="model.logout()" class="navbar-brand glyphicon glyphicon-off pull-right "></a>
    <a ng-show="{{model.currentUser}}" class="navbar-brand pull-right" href="#/user/{{model.currentUser._id}}" >
        Hi, {{model.currentUser.username}}</a>

</nav>

<div class="container-fluid margin-class">



    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a ng-click="model.setActiveTab('updateProfile')">
                            Profile</a>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a ng-click="model.setActiveTab('showReviews')">
                            Reviews</a>
                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a ng-click="model.setActiveTab('showLikes')">
                            Likes</a>
                    </div>

                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-8" ng-show="model.showUpdatePage">

    <label for="username">Username</label>
    <input ng-model="model.user.username"
           id="username"
           type="text"
           placeholder="Username"
           class="form-control" readonly/>

    <label for="email">Email</label>
    <input ng-model="model.user.email"
           id="email"
           type="email"
           placeholder="Email Id"
           class="form-control" readonly/>

    <label for="firstName">First Name</label>
    <input ng-model="model.user.firstName"
           id="firstName"
           type="text"
           placeholder="First Name"
           class="form-control" readonly/>

    <label for="lastName">Last Name</label>
    <input ng-model="model.user.lastName"
           id="lastName"
           type="text"
           placeholder="Last Name"
           class="form-control" readonly/>
</div>

    <div class="col-sm-8" ng-show="model.showReviews">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>
    <div ng-hide="model.listOfReviewsForUser.length > 0"> No reviews</div>
    <div ng-repeat="r in model.listOfReviewsForUser">
        <div class="panel panel-default">
            <div class="panel-heading"><label>Recipe Name: </label> {{r.recipeName}}</div>
            <div class="panel-heading"> <label>Review Content: </label> {{r.description}}</div>
            <div class="panel-body">
                <img ng-src="{{r.recipeImg}}">
            </div>
        </div>


    </div>
</div>
    <div class="col-sm-8" ng-show="model.showLikes">

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>
        <div ng-hide="model.likesForUser.length > 0"> No likes</div>

        <div ng-repeat="like in model.likesForUser">

            <div class="panel panel-default">
                <div class="panel-heading">{{like[0].label}}</div>
                <div class="panel-body">
                    <img ng-src="{{like[0].image}}">
                </div>
            </div>

        </div>
    </div>
</div>
