<nav class="navbar navbar-inverse navbar-fixed-top">

                <a class="navbar-brand pull-right" href="#/register">
                    Register
                </a>

                <a class="navbar-brand pull-right" href="#/login">
                    Login
                </a>

                <a class="navbar-brand" href="#/home">Munchkins</a>


</nav>
<div class="container-fluid">
<form novalidate name="form1" >

    <h1>Register</h1>
    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>


    <label for="username">Username</label>
    <input  ng-model="user.username"
            id="username"
            name="username"
            type="text"
            class="form-control"
            placeholder="username"
            required/>
    <span ng-show="form1.username.$invalid  && form1.username.$pristine" class="help-block">Username is required</span>

    <label for="password">Password</label>
    <input ng-model="user.password"
           id="password"
           name="password"
           type="password"
           class="form-control"
           placeholder="password"
    required/>
    <span ng-show="form1.password.$invalid  && form1.password.$pristine" class="help-block">Password is required</span>
    <label for="email">Email</label>
    <input ng-model="user.email"
           id="email"
           name="email"
           type="email"
           placeholder="example: something@something"
           class="form-control"
    required/>
    <span ng-show="form1.email.$error || form1.email.$pristine" class="help-block">Enter a valid email Id</span>
    <label for="firstName">First Name</label>
    <input ng-model="user.firstName"
           id="firstName"
           type="text"
           placeholder="First Name"
           class="form-control"/>

    <label for="lastName">Last Name</label>
    <input ng-model="user.lastName"
           id="lastName"
           type="text"
           placeholder="Last Name"
           class="form-control"/>

    <a ng-click="model.register(user)" class="btn btn-block btn-primary">Register</a>
    <!--  <a ng-click="model.createUser(user)" class="btn btn-block btn-primary">Register</a>-->
    <a href="#/login" class="btn btn-block btn-danger">Cancel</a>
</form>
</div>